/* Modal Animation */
#confirmModal,
#editModal {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}